body {
    background-color: whitesmoke;
}
.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
nav {
    background: linear-gradient(to right, #9c3fe4 0%, #c65647 100%);
}
ul {
    font-family: "Poppins";
    color: white;
}

.shape:first-child {
    height: 397px;
    width: 397px;
    left: 294px;
    top: 112px;
    border-radius: 0px;
    background: radial-gradient(
        50% 50% at 50% 50%,
        #b379df 0%,
        rgba(54, 0, 96, 0) 100%
    );
    opacity: 0.58;
}
.shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -30px;
    bottom: -80px;
}
form {
    height: 400px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}
form * {
    font-family: "Poppins";
    color: #767576;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    color: #666666;
}
h3 {
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    color: #666666;
    font-size: "32px";
}

label {
    display: block;
    margin-top: 30px;
    font-size: 14.33px;
    font-weight: 500;
}
input {
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14.33px;
    font-weight: 300;
    background: url(.png),
        radial-gradient(
            90.16% 143.01% at 15.32% 21.04%,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.0447917) 77.08%,
            rgba(255, 255, 255, 0) 100%
        );
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(6.07811px);

    border-radius: 8px;
}
::placeholder {
    color: #767576;
}
button {
    margin-top: 50px;
    width: 100%;
    background: linear-gradient(to right, #9c3fe4 0%, #c65647 100%);
    color: white;
    padding: 15px 0;
    font-size: 17.92px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
